<script id="msg-tmpl" type="text/plain">
    <% var sender = options.user.id == model.sender_id ? options.user : options.contact; %>
    <div class="media msg" data-key="<%= key %>">
        <a class="pull-left" href="#">
            <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 32px; height: 32px;" src="<%= options.settings.baseUrl + '/img/' + sender.profile.avatar %>">
        </a>
        <div class="media-body">
            <small class="pull-right time"><i class="fa fa-clock-o"></i> <%= model.date %></small>
            <h5 class="media-heading"><%= sender.profile.full_name %></h5>
            <small class="col-lg-10"><%= model.text %></small>
        </div>
    </div>
</script>